<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<% words.each do |word| %>
    <div class="btn btn-danger given-word-enter" data="<%= word %>" id="" style="font-size: 4vh;"><%= word %></div>
    <br />
    <br />
<% end %>

<i>You have <span id="custom-word-remaining-count">3</span> words remaining.<i/>

<br />

<%= text_field_tag 'custom_word', nil, placeholder: 'Enter a custom word', class: 'form-control', style: 'font-size: 4vh; height: 6vh;', id: 'custom-word-entry' %>

<br />

<div class="btn btn-danger" id="submit-custom-word" style="font-size: 4vh;">Add custom word</div>

<br />
<br />

<hr />

<span id="building-field" style="font-size: 4vh; overflow-wrap: break-word;"></span>

<br />
<br />

<div class="btn btn-danger" id="submit-sentence" style="font-size: 4vh;">Submit your sentence!</div>

<script>

    App.gamejs = {};
    App.gamejs.receive = function(data){

    };
    custom_word_max = 3;
    custom_word_current = custom_word_max;
    current_sentence = '';
    $('.given-word-enter').click(function (obj){
        current_sentence = current_sentence + $(obj.target).attr('data') + ' ';
        $('#building-field').html(current_sentence);
    });
    $('#submit-custom-word').click(function(){
        if (custom_word_current > 0 && $('#custom-word-entry').val() !== ''){
            current_sentence = current_sentence + $('#custom-word-entry').val().toUpperCase().split(' ')[0] + ' ';
            $('#custom-word-entry').val('');
            $('#building-field').html(current_sentence);
            custom_word_current--;
            $('#custom-word-remaining-count').html(custom_word_current);
        }
    });
    $("#custom-word-entry").keyup(function(event){
        if(event.keyCode == 13){    // Enter
            $("#submit-custom-word").click();
        }
    });
    $('#submit-sentence').click(function(){
        App.game.send({sentence: current_sentence});
        current_sentence = '';
        custom_word_current = custom_word_max;
        $('#building-field').html('');
        $('#custom-word-remaining-count').html(custom_word_current);
    });


</script>