<div class="row">
    <div class="text-center">
        <p>
        Welcome to (Untitled Sentence Builder Game)!
        Please enter some words!
        </p>
    </div>
</div>

<br />

<div class="row">
    <%= text_field_tag 'Word-Entry', nil,
             placeholder: 'Something funny goes here', class: 'form-control',
             id: 'word-entry' %>
</div>

<br />

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="btn btn-primary" id="submit-word">Send it!</div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="btn btn-warning" id="random-word">Get a random word</div>
    </div>
</div>

<script>
    App.gamejs = {}
    App.gamejs.receive = function(data){

    };

function randomWord(handler){
    var requestStr = "http://setgetgo.com/randomword/get.php";
    $.ajax({
        type: "GET",
        url: requestStr,
        dataType: "text",
        success: handler
    }); 
}

function sendWord(word){
    if (word != ''){ // We allow casting because we don't want other types
        App.game.send({word: word})
    }
}

$('#submit-word').click(function(){
    var word = $('#word-entry').val();
    $('#word-entry').val('');
    sendWord(word);
});

$("#word-entry").keyup(function(event){
    if(event.keyCode == 13){    // Enter
        $("#submit-word").click();
    }
});

$('#random-word').click(function(){
    randomWord(function(data){
        $('#word-entry').val(data);
    })
});

</script>