<h2 class="text-center">Vote for the funniest phrase!</h2>
<br />
<div class="text-center">
<h1><span id="time-remaining">15</span> seconds left to vote!</h1>
</div>
<br />
<div class="row text-center" id="phrase-container">
</div>

<script>
    App.game.send({next: 'start'});
    App.gamejs = {};
    time_per_round = 15;
    time_remaining = time_per_round;
    var timeout_id = setTimeout(countdown, 1000);
    App.gamejs.receive = function(data){
        if (data['event_type'] == 'sentences'){
            $('#phrase-container').html(data['render']);
            if (data['render'] == ''){
                clearTimeout(timeout_id);
            }
        }
    };

    function countdown(){
        if (--time_remaining > 0){
            $('#time-remaining').html(time_remaining);
            clearTimeout(timeout_id);
            timeout_id = setTimeout(countdown, 1000);
        }else{
            $('#time-remaining').html(time_remaining);
            time_remaining = time_per_round;
            App.game.send({results: 'display'});
            let newFunc = function(){
                App.game.send({next: 'start'});
                $('#time-remaining').html(time_remaining);
                clearTimeout(timeout_id);
                timeout_id = setTimeout(countdown, 1000);
            }
            clearTimeout(timeout_id);
            timeout_id = setTimeout(newFunc, 5000);
        }
    }

</script>