<h2 class="text-center">Vote for the funniest phrase!</h2>
<br />
<br />
<div class="row text-center" id="phrase-container">
</div>
<br />
<div class="text-center">
<span id="time-remaining">20</span> seconds left to vote!
</div>

<script>
    App.game.send({next: 'start'});
    App.gamejs = {};
    time_per_round = 20;
    time_remaining = time_per_round;
    setTimeout(countdown, 1000);
    App.gamejs.receive = function(data){
        if (data['event_type'] == 'sentences'){
            $('#phrase-container').html(data['render']);
        }
    };

    function countdown(){
        if (--time_remaining > 0){
            $('#time-remaining').html(time_remaining);
            setTimeout(countdown, 1000);
        }else{
            $('#time-remaining').html(time_remaining);
            time_remaining = time_per_round;
            App.game.send({results: 'display'});
            setTimeout(function(){
                App.game.send({next: 'start'});
                $('#time-remaining').html(time_remaining);
                setTimeout(countdown, 1000);
            }, 5000);
        }
    }

</script>