<div class="row text-center">
        <h1>        
        Welcome TO Sentence Scavenge!!!!
        <br />
        Enter funny words on your personal device!
        </h1>
</div>

<br />

<div class="row">
    <div class="big-text text-center" id="timer-text">
        <h1>You have <span id="time-remaining">45</span> seconds remaining!</h1>
    </div>
</div>

<script>

    App.gamejs = {};
    App.gamejs.receive = function(){};
    var time_remaining = 45;
    var timeout_id = setTimeout(countdown, 1000);

    function startMusic() {
        if ("game_audio" in window) {
            window.game_audio.play('/audio/sentence_scavenge/first_round.mp3', false);
        }
    }
    startMusic();


    function countdown(){
        if (time_remaining-- > 1){
            $('#time-remaining').html(time_remaining);
            clearTimeout(timeout_id);
            timeout_id = setTimeout(countdown, 1000);
        }else{
            $('#timer-text').html("Times Up!");
            clearTimeout(timeout_id);
            App.game.send({phase: 'build'});
        }
    }



</script>