<div class="row text-center">
        <h1>        
        WELCOME TO (Not yet named sentence builder game)!!!!
        <br />
        On your personal device, you will see a place to type some words.
        <br />
        Start typing as many words as you can think of!
        <br />
        If you get stuck, you can always use the "random word" button.
        </h1>
</div>

<br />

<div class="row">
    <div class="big-text text-center" id="timer-text">
        <h1>You have <span id="time-remaining">45</span> seconds remaining!</h1>
    </div>
</div>

<script>

    App.gamejs = {};
    App.gamejs.receive = function(){};
    var time_remaining = 45;
    setTimeout(countdown, 1000);

    function countdown(){
        if (time_remaining-- > 1){
            $('#time-remaining').html(time_remaining);
            setTimeout(countdown, 1000);
        }else{
            $('#timer-text').html("Times Up!");
            App.game.send({phase: 'build'});
        }
    }



</script>