<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="text-danger">
            <h1>Time Left: <span id="time-left"></span> - Words Left: <span id="words-left"></span></h1>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="text-center">
            <h2>Try to guess the closest word to:</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h1 id="word"></h1>
    </div>
</div>

<br />
<div class="row">
    <span id="results"></span>
</div>

<script>
    App.gamejs = {}
    var time_left = 15;
    var words_left = 5;
    App.gamejs.receive = function(data){
        if (data['word']){
            $('#word').html(data['word']);
        }else if (data['results']){
            $('#results').html(data['results']);
        }
    };
    App.game.send({type: 'start'});
    function count_down_distance(){
        if (time_left-- <= 0){
            if (words_left-- > 1){
                time_left = 15;
                App.game.send({type: 'end_submissions'})
                timer_id = setTimeout(count_down_distance, 1000);
                $('#time-left').html(time_left);
                $('#words-left').html(words_left);
            }else{
                clearTimeout(timer_id);
                App.game.send({type: 'change_phase'});
                words_left = 5;
            }
        }else{
            $('#time-left').html(time_left);
            $('#words-left').html(words_left);
            clearTimeout(timer_id);
            timer_id = setTimeout(count_down_distance, 1000);
        }
    }
    var timer_id = setTimeout(count_down_distance, 1000);
</script>