<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="text-danger">
            <h1>Time Left: <span id="time-left"></span></h1>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="text-center">
            <h2>Try to guess the closest word to:</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h1 id="word"></h1>
    </div>
</div>

<br />
<div class="row">
    <span id="results"></span>
</div>

<script>
    App.gamejs = {}
    var time_left = 90;
    App.gamejs.receive = function(data){
        if (data['word']){
            $('#word').html(data['word']);
        }else if (data['results']){
            $('#results').html(data['results']);
        }
    };
    App.game.send({type: 'start'});
    function count_down_distance(){
        if (time_left-- <= 0){
            App.game.send({type: 'change_phase'});
        }else{
            $('#time-left').html(time_left);
            setTimeout(count_down_distance, 1000);
        }
    }
    clearTimeout(count_down_distance);
    setTimeout(count_down_distance, 1000);
</script>