<div class="row">
    <div class="text-center">
        <h2>Try to guess the closest word to:</h2>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <h1 id="word"></h1>
    </div>
</div>

<script>
    App.gamejs = {}
    App.gamejs.receive = function(data){
        $('#word').html(data['word']);
    };
</script>