<div class="row">
    <div class="col-md-4 col-sm-4">
        Players
    </div>
    <div class="col-md-4 col-sm-4">
        UUID (this will not be shown to end users)
    </div>
</div>
<% players.each do |player| %>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <%= player.name %>
        </div>
        <div class="col-md-4 col-sm-4">
            <%= player.uuid %>
        </div>
    </div>
<% end %>