
    <div class="row vertical-center">
        <div class="col-md-4 col-sm-2 col-xs-2">
        </div>
        <div class="col-md-4 col-sm-8 col-xs-9">
            <div class="text-center form-group">
                <label for="game-id">Game ID:</label>
                <input type="text" class="form-control input-lg" id="game-id" style="height: 40vh; font-size: 5vh;"></input>
                <br />
                <%= submit_tag 'Join', class: 'btn btn-danger btn-block text-white', id: 'client-connect-to-game-with-id', style: "height: 20vh; font-size: 5vh;" %>
            </div>
        </div>
    </div>

<script>
$('#client-connect-to-game-with-id').click(function() {
    var game_id = $('#game-id').val();
    window.location.replace('/client/' + game_id);
});
</script>