<div class="row title greeting">
    <div class="text-center big-font">
        <h1><p id="header-text">Welcome to Word Scramble! Try to guess what the other players typed!</p></h1>
    </div>
</div>

<div id="victory-text" style="display:none">
    <h1>The winner is <span id="winner-name"></span></h1>
</div>


<div class="row">
    <div class="col-md-9 col-sm-9">
        <div class="bg-danger" id="world-scramble-words-container" style="word-break: break-word;">

        </div>
    </div>
    <div class="col-md-3 col-sm-9">
        <% players.each do |player| %>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3><%= player.name %></h3>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h3>Points <span id="player-points-<%= player.uuid %>">0</span></h3>
                </div>
            </div>
            <hr />
        <% end %>
    </div>
</div>

<script>

    App.gamejs = {};
    var winning_id;
    App.gamejs.receive = function(data){
        if (data['event_type'] === 'word_update'){
            $('#world-scramble-words-container').html(data['render'])
        }else if (data['event_type'] === 'player_points'){
            $('#player-points-'+data['player_uuid']).html(data['points']);
            if (data['points'] >= 20){
                winning_id = data['player_uuid'];
                App.gamejs.receive = {};
                $('#winner-name').html(data['name']);
                $('#victory-text').show();
                setTimeout(send_winner, 2500);
            }
        }
    };

    function send_winner(){
        App.lobby_info.send({event_type: "game_over", winner: winning_id});
    }

</script>