<div class="row player-<%= player.uuid %>">
    <div class="col-md-4 col-sm-4" id="player-name-<%= player.uuid %>">
        <%= player.name %>
    </div>
    <div class="col-md-4 col-sm-4">
        <%= player.uuid %>
    </div>
</div>