<div class="row">
    <div class="col-md-4 col-sm-4">
        Players
    </div>
    <div class="col-md-4 col-sm-4">
        UUID (this will not be shown to end users)
    </div>
</div>
<div class="player-listing-container">
    <% players.each do |player| %>
        <%= render partial: 'shared/player_listing', locals: {player: player} %>
    <% end %>
</div>