<% content_for :container, "container-full" %>
<style>
    body{
        overflow: hidden;
    }
</style>
<div class="row">
<div class="col-md-5 col-sm-5 col-xs-5 pull-left">
    <%= button_to "Connect as a player", client_url, method: :get, class:"btn btn-danger btn-large", style:"height: 100vh; width: 100%;" %>
</div>
<div class="col-md-2 col-sm-2 col-xs-2">
    <%= image_tag asset_path('blazingkin-party-pack-logo.jpg'), style: 'width: 100%; height: 100%;' %>
</div>
<div class="col-md-5 col-sm-5 col-xs-5 pull-right">
    <%= button_to "Start a new game", host_new_url, method: :get, class:"btn-danger btn button btn-large", style: "height: 100vh; width: 100%;" %>
</div>