<%= text_field_tag 'word-scramble-text-field', nil, placeholder: 'Scramble some words', class: 'form-control', id: 'wordscram-tf' %>
<br />
<div class="btn btn-danger" id="wordscram-btn">Scramble!</div>

<script>
    App.gamejs = {}
    App.gamejs.receive = function(data){

    };
    $('#wordscram-btn').click(function(){
        App.game.send({word: $('#wordscram-tf').val()});
        $('#wordscram-tf').val('');
    });
</script>